/.idea
/config-service/.dockerignore
/config-service/target/classes/fr/bluechipit/config/service/ConfigServiceApplication.class
/config-service/target/classes/application.yml
/config-service/.mvn/wrapper/maven-wrapper.properties
/config-service/mvnw
/config-service/mvnw.cmd
/discovery-service/.mvn/wrapper/maven-wrapper.properties
/discovery-service/target/classes/fr/bluechipit/discovery/service/DiscoveryServerApplication.class
/discovery-service/target/classes/application.yml
/discovery-service/target/classes/bootstrap.yml
/discovery-service/.dockerignore
/discovery-service/mvnw
/discovery-service/mvnw.cmd
/api-gateway-service/.mvn/wrapper/maven-wrapper.properties
/api-gateway-service/.dockerignore
/api-gateway-service/mvnw
/api-gateway-service/mvnw.cmd
/dvdtheque-commons/target/*
/dvdtheque-commons/mvnw
/dvdtheque-commons/mvnw.cmd
/dvdtheque-service/target/*
/dvdtheque-service/mvnw
/dvdtheque-service/mvnw.cmd