services:
  localhost:
    image: alpine:latest
    command: sleep infinity
    ports:
      - "8080:8080" # Keycloak port
      - "8083:8083" # dvdtheque-service port
      - "5005:5005" # dvdtheque-service debug port
      - "8087:8087" # dvdtheque-allocine-service port
      - "5007:5007" # dvdtheque-allocine-service debug port
      - "8089:8089" # dvdtheque-batch-service port
      - "5009:5009" # dvdtheque-batch-service debug port
      - "8086:8086" # dvdtheque-tmdb-service port
      - "5006:5006" # dvdtheque-tmdb-service debug port
      - "8761:8761" # discovery-service port
      - "8762:8762" # api-gateway-service port
      - "8888:8888" # config-service port
      - "7443:7443" # Keycloak https port
      - "61613:61613" # stomp relay port
      - "61614:61614" # stomp relay port
      - "9090:9090" # Port Prometheus
      - "3000:3000" # Port Grafana
  keycloak:
    image: quay.io/keycloak/keycloak:20.0.3
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT_BACKCHANNEL: "true"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
      KC_LOG_LEVEL: debug
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health/ready" ]
      interval: 15s
      timeout: 2s
      retries: 15
    command: [ "start-dev", "--http-port", "8080", "--https-port", "7443","--http-relative-path=/auth",]
    volumes:
      - keycloak:/opt/keycloak-20.0.3/data/
    restart: always
    network_mode: "service:localhost"
  config-service:
    build:
      context: ./config-service
    container_name: config-service
    healthcheck:
      test: curl --fail http://localhost:8888/actuator/health || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
    network_mode: "service:localhost"
  discovery-service:
    build:
      context: ./discovery-service
    container_name: discovery-service
    healthcheck:
      test: curl --fail http://localhost:8761 || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
    network_mode: "service:localhost"
    depends_on:
      config-service:
        condition: service_healthy
  api-gateway-service:
    build:
      context: ./api-gateway-service
    container_name: api-gateway-service
    network_mode: "service:localhost"
    depends_on:
      discovery-service:
        condition: service_healthy
  dvdtheque-service:
    build:
      context: .
      dockerfile: dvdtheque-service/Dockerfile
    container_name: dvdtheque-service
    network_mode: "service:localhost"
    depends_on:
      discovery-service:
        condition: service_healthy
  tmdb-service:
    build:
        context: .
        dockerfile: dvdtheque-tmdb-service/Dockerfile
    container_name: dvdtheque-tmdb-service
    network_mode: "service:localhost"
    depends_on:
        discovery-service:
            condition: service_healthy
  allocine-service:
    build:
        context: .
        dockerfile: dvdtheque-allocine-service/Dockerfile
    container_name: dvdtheque-allocine-service
    network_mode: "service:localhost"
    depends_on:
        discovery-service:
            condition: service_healthy
  batch-service:
    build:
      context: .
      dockerfile: dvdtheque-batch-service/Dockerfile
    container_name: dvdtheque-batch-service
    network_mode: "service:localhost"
    depends_on:
      discovery-service:
        condition: service_healthy
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    # On le met aussi sur le network service pour qu'il voit les autres via localhost
    network_mode: "service:localhost"
    depends_on:
      - dvdtheque-service # Attendre qu'au moins un service soit là
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    # Grafana a besoin de son propre port 3000,
    # mais comme 'localhost' (le service Alpine) mappe déjà beaucoup de ports,
    # on l'ajoute à la liste des ports du service 'localhost' en haut du fichier.
    network_mode: "service:localhost"
volumes:
  keycloak: