logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.http.server.reactive: INFO
    org.springframework.web.reactive: INFO
    fr.bluechipit.dvdtheque: INFO
management:
  endpoints:
    web:
      exposure:
        include: health, info
