logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.http.server.reactive: INFO
    org.springframework.web.reactive: INFO
    fr.bluechipit.dvdtheque: INFO
    com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver: WARN
management:
  endpoints:
    web:
      exposure:
        include: health, info
